@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin-right: 4rem;
    margin-bottom: 4rem;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
    font-weight: normal;
    font-size: 40px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

#photograph-header {
    position: relative;
    display: flex;
    margin-top: 8rem;
    margin-left: 8rem;
}


.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin-bottom: 0;
    font-weight: normal;
}

#photograph-header article {
    display: flex;
}

#photograph-header article h2 {
    color: #D3573C;
    font-size: 56px;
    margin-bottom: 0;
    font-weight: normal;
    margin-top: -3rem;
}

.photographer_section article h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: medium;
    color: #901C1C;
    font-weight: normal;
}

#photograph-header h3, .photographer-media h3, p {
    margin-top: 0.5rem;
    font-size:x-large;
    color: #901C1C;
    font-weight: normal;
}

.photographer_section article p {
    margin-top: 0;
    font-size:small;
    margin-bottom: 0;
}

#photograph-header p {
    margin-top: 0;
    font-size:large;
    color: gray;
}

.photographer_section article h5 {
    margin-top: 0;
    color: gray;
    font-size: small;
    font-weight: normal;
}

.photographer_section article img, #photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 7rem;
    object-fit: cover;
    margin-top: -4rem;
}

#photograph-header img {
    margin-left: 22rem;
}

#photograph-header .info-bar {
    position: absolute;
    display: flex;
    left: -3rem;
    top: 13rem;
    z-index: 1;
}

.info-bar #trier-par {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-top: 1.5rem;
}

.info-bar ul {
    background: #901C1C;
    list-style: none;
    color: white;
    border-radius: 5px;
    margin-left: 1.5rem;
    padding: 10px;
    padding-top: 25px;
}

.info-bar ul li {
    font-size: 18px;
    font-weight: bold;
    border-top: 1px solid white;
    padding-left: 1rem;
}

 .title, .popular, .date {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.info-bar .date, .title {
    display: none;
}

.popular-angle {
    display: flex;
}

.popular-angle em {
    margin-left: 1.5rem;
    margin-top: 3px;
}

.popular-angle .fa-angle-up {
    display: none;
}

.info-bar li, .popular-angle em {
    cursor: pointer;
    padding-right: 1rem;
    font-size: larger;
}

.popular-angle .popular {
    border-top: none;
    padding-top: 0rem;
}

.photographer-media {
    position: relative;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 11.5rem;
    margin-left: -0.6rem;
    z-index: 0;
}

.photographer-media article {
    width: 350px;
    margin-left: 6rem;
}

.photographer-media img, video {
    width: 100%;
    height: 300px;
    border-radius: 4px;
    object-fit: cover;
}

.photographer-media article {
    cursor: pointer;
}

.photographer-media h3 {
    width: 300px;
}

.photographer-media .media-description {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.photographer-media .fa-heart {
    color: #901C1C;
    font-size: 22px;
    cursor: pointer;
}

.popular-angleUp em {
    color: white;
    font-size: medium;
}


.total-of-likes_bloc .total-of-likes {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0.5rem;
}

.total-of-likes_bloc .fa-heart {
    color: black;
    cursor: none;
    font-size: x-large;
    margin-left: 8px;
    margin-top: 12px;
}

.price-day h3 {
    margin-left: 7rem;
    margin-top: 13px;
    margin-top: 10px;
    font-size: 24px;
}
 
.total-of-likes_bloc {
    display: flex;
    position: fixed;
    z-index: 0;
    bottom: 0rem;
    right: 8rem;
    background: #D3573C;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 4px;
}

.lightbox {
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

.lightbox button {
    position: fixed;
    z-index: 2;
    border: none;
    font-size: xx-large;
    color: white;
    background: #901C1C;
    cursor: pointer;
    transition: 2000ms;
}

.lightbox .lightbox-next, .lightbox-prev {
    top: 50%;
    margin-top: -14px;
}

.lightbox .lightbox-next {
    right: 0;
    margin-top: -12px;
}

.lightbox .lightbox-close {
    right: 0;
}

.lightbox-container {
    margin: 50px;
    height: 84%;
}

.lightbox-container img {
   width: 100%;
   height: 100%;
   overflow: scroll;/*Scroller l'image*/
   object-fit: cover;
}

.lightbox-container video {
    height: 100%;
    overflow: scroll;
}