@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    margin-bottom: 4rem;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
    font-weight: normal;
    font-size: 40px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

#photograph-header {
    display: flex;
    margin-top: 8rem;
    margin-left: 8rem;
}


.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin-bottom: 0;
    font-weight: normal;
}

#photograph-header article {
    display: flex;
}

#photograph-header article h2 {
    color: #D3573C;
    font-size: 56px;
    margin-bottom: 0;
    font-weight: normal;
    margin-top: -3rem;
}

.photographer_section article h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: medium;
    color: #901C1C;
    font-weight: normal;
}

#photograph-header h3, .photographer-media h3, p {
    margin-top: 0.5rem;
    font-size:x-large;
    color: #901C1C;
    font-weight: normal;
}

.photographer_section article p {
    margin-top: 0;
    font-size:small;
    margin-bottom: 0;
}

#photograph-header p {
    margin-top: 0;
    font-size:large;
    color: gray;
}

.photographer_section article h5 {
    margin-top: 0;
    color: gray;
    font-size: small;
    font-weight: normal;
}

.photographer_section article img, #photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 7rem;
    object-fit: cover;
    margin-top: -4rem;
}

#photograph-header img {
    margin-left: 22rem;
}

#main .info-bar {
    margin-left: 90px;
}

.info-bar .info-bar-title {
    font-size: 20px;
}

.info-bar select {
    background: #901C1C;
    list-style: none;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    margin-left: 1.5rem;
    padding-left: 10px;
    padding-right: 10px;
}

.info-bar select option {
    border-top: 1px solid white;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 1.5rem;
    padding-left: 10px;
}

.info-bar select .popular {
    border: none;
    padding-top: 10px;
}

.info-bar select .title {
    padding-bottom: 5px;
}

select {
    display: flex;
    align-items: baseline;
    flex-direction: row-reverse;
}

 .title, .popular {
    cursor: pointer;
}


.photographer-media, .photographer-media-popular {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.photographer-media img, video, .photographer-media-popular img, video {
    width: 350px;
    height: 300px;
    border-radius: 4px;
    object-fit: cover;
    margin-left: 6rem;
}

.photographer-media h3, .photographer-media-popular h3 {
    margin-left: 6rem;
    width: 300px;
}

.photographer-media .media-description, .photographer-media-popular, .media-description {
    display: flex;
    align-items: baseline;
}

.photographer-media .fa-heart, .photographer-media-popular .fa-heart, .total-of-likes_bloc .fa-heart {
    color: #901C1C;
    font-size: 22px;
    cursor: pointer;
}

.popular-angleUp i {
    color: white;
    font-size: medium;
}


.total-of-likes_bloc .total-of-likes {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0.5rem;
}

.total-of-likes_bloc .fa-heart {
    color: black;
    cursor: none;
    margin-left: 8px;
    margin-top: 12px;
}

.price-day h3 {
   
    color: black;
    font-weight: bold;
    margin-left: 7rem;
    margin-top: 13px;
}
 
.total-of-likes_bloc, .photographer-media-popular .total-of-likes_bloc {
    display: flex;
    position: fixed;
    bottom: 0rem;
    right: 8rem;
    background: #D3573C;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    /*width: 21.5%;*/
    border-radius: 4px;
}

